<header>
    <h1>
        Blogs
    </h1>
    <nav>
        <ul >
            <li><a tabindex="1" routerLink="/"  >list</a>
            </li>
            <li  tabindex="1"  *ngIf="isloggedin"><a routerLink="/addEdit" routerLinkActive="active">add Blog</a>
            </li>
            <li  tabindex="1"  *ngIf="!isloggedin"><a routerLink="/log-in" routerLinkActive="active">log in</a>
            </li>
            <li  tabindex="1"  *ngIf="isloggedin"><a (click)='logOut()'>log out</a>
            </li>
            <li  tabindex="1"  *ngIf="!isloggedin"> <a routerLink="/sign-up" routerLinkActive="active">registration</a>
            </li>
        </ul>
    </nav>
    <div class="themes">
        <label class="radio-inline">
        <input type="radio" value="ligth" name="theme"   [(ngModel)]="theme" (change)="changeTheme()"> ligth theme
        </label>
        <label class="radio-inline">
        <input type="radio" value="dark" name="theme"  [(ngModel)]="theme"  (change)="changeTheme()"> dark theme
        </label>
    </div>
</header>



