<header>
    <h1>
        Blogs
    </h1>
    <nav>
        <ul >
            <li><a tabindex="1" routerLink="/"  >List</a>
            </li>
            <li  tabindex="1"  *ngIf="isloggedin"><a routerLink="/addEdit" routerLinkActive="active">Add Blog</a>
            </li>
            <li  tabindex="1"  *ngIf="!isloggedin"><a routerLink="/log-in" routerLinkActive="active">Log in</a>
            </li>
            <li  tabindex="1"  *ngIf="isloggedin"><a (click)='logOut()'>Log out</a>
            </li>
            <li  tabindex="1"  *ngIf="!isloggedin"> <a routerLink="/sign-up" routerLinkActive="active">Registration</a>
            </li>
        </ul>
    </nav>
    <div class="themes">
        <label class="radio-inline">
        <input type="radio" value="ligth" name="theme"   [(ngModel)]="theme" (change)="changeTheme()"> Ligth theme
        </label>
        <label class="radio-inline">
        <input type="radio" value="dark" name="theme"  [(ngModel)]="theme"  (change)="changeTheme()"> Dark theme
        </label>
    </div>
</header>



