<section class="form-outer">
<h2> Registration Form</h2>
<form [formGroup]="registrationForm" class="form-container">
    <div>
        <label for="name">User Name *</label>
        <input type="text" id="name" name="name" class="input" aria-placeholder="User Name" placeholder="User Name" formControlName="userName">
        
    </div>
    <div *ngIf="submitted && f.userName.errors" class="error">
            <div *ngIf="f.userName.errors.required">user  Name is required</div>
    </div>
    <div>
        <label for="email">Email ID *</label>
        <input type="text" name="email"  id="email"  class="input" formControlName="email"  aria-placeholder="email" placeholder="email" >
    </div>
    <div *ngIf="submitted && f.email.errors" class="error">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    <div>
        <label for="phoneNo">Phone No</label>
        <input type="text" name="phoneNo" id="phoneNo" class="input" formControlName="phoneNo" aria-placeholder="phoneNo" placeholder="phoneNo" >
    </div>
    <div>
        <label for="password">Password *</label>
        <input type="password" id="password" name="password"   class="input" formControlName="password"  aria-placeholder="password" placeholder="password" >
    </div>
    <div *ngIf="submitted && f.password.errors"  class="error">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    <div class="form-button-outer">
            <input type="button" value="submit" class="button" (keyup.enter)="onSubmit()" (click)="onSubmit()" aria-label="submit Button"/>
    </div>
   
</form>
</section>