<section class="form-outer">
<h2> Registration Form</h2>
<form [formGroup]="registrationForm" class="form-container">
    <div>
        <label>User Name</label>
        <input type="text" name="name" aria-placeholder="User Name" placeholder="User Name" formControlName="userName">
    </div>
    <div>
        <label>Email ID</label>
        <input type="text" name="email" formControlName="email"  aria-placeholder="email" placeholder="email" >
    </div>
    <div>
        <label>Phone No</label>
        <input type="text" name="phoneNo" formControlName="phoneNo" aria-placeholder="phoneNo" placeholder="phoneNo" >
    </div>
    <div>
        <label>Password</label>
        <input type="text" name="password" formControlName="password"  aria-placeholder="password" placeholder="password" >
    </div>
    <div class="form-button-outer">
            <input type="button" value="submit" class="button" (click)="onSubmit()" aria-label="submit Button"/>
    </div>
   
</form>
</section>