<main>
    <ul *ngIf="bloglist">
        <li *ngFor="let blog of bloglist trackBy bloglist.id">
            <article>
                <header>
                    <h2>
                        {{blog.title}}
                    </h2>
                    <div>
                        {{blog.date}} 
                    </div>
                </header>
                <section>
                    <ul>
                        <li>
                            <figure>
                                <img [src]="blog.imageUrl" title="">
                            </figure>
                            <section>
                                    {{blog.description}}
                           </section>
                           <section>
                                category: {{blog.category}}
                           </section>
                        </li>
                        <li>
                            <button type="button" (click)="editBlock(blog.id)">Edit Blog</button>
                            <button type="button" (click)="deleteBlock(blog.id)">Delete Blog</button>
                        </li>
                    </ul>
                </section>
            </article>
        </li>
    </ul>
</main>
