<main>
    <ul *ngIf="bloglist" class="blog-container">
        <li *ngFor="let blog of bloglist trackBy bloglist.id">
            <article>
                <header>
                    <h2>
                        {{blog.title}}
                    </h2>
                    <div>
                        {{blog.date | date}} 
                    </div>
                </header>
                <section>
                    <ul>
                        <li>
                            <figure>
                                <img [src]="blog.imageUrl" [title]="blog.title">
                            </figure>
                            <section>
                            <p>
                                    {{blog.description }}
                            </p>
                            <p>
                                category: {{blog.category}}
                            </p>
                            </section>
                           
                        </li>
                        <li *ngIf="isloggedin">
                            <button type="button" (click)="editBlock(blog.id)">Edit Blog</button>
                            <button type="button" (click)="DeleteBlog(blog.id)">Delete Blog</button>
                        </li>
                    </ul>
                </section>
            </article>
        </li>
    </ul>
</main>
