@import 'reset';
:root { 
    /* Colors */
    --background-default: #f4faff;
    --primary-default: #000000;
  }
  
  body {
    background: var(--background-default);
    color:var(--primary-default);
    padding: 0;
    margin: 0;
  }

  .form-outer{
    padding: 10px 15%;
    h2{
      font-size: 25px;
      margin: 10px 0;
    }
    >.form-container{
      padding: 10px 0;
        >div{
          display: flex;
          margin: 10px;
          label{
            width: 20%;
            line-height: 38px;
          }
          .input{
            width: 70%;
            padding: 10px;
          }
          .form-button-outer{
            border-top:1px solid;
            .button{
              width: auto;
              padding: 5px 20px;
            }
          }
        }
    }
  }
  
  